.nav ul a:hover {
    color:#2aabd2;
}
.container-image {
    background-color:palegreen;
    color: white;
}
input[type=text] {
    background-color: white;
    color: black;
}
.div footer {
    background-color: black;
    color: white;
}
.div container-buttom {
    background-color: black;
}